@import "./skeleton/normalize.css";
@import "./skeleton/skeleton.css";

body {
  background-color: #344973;
}
#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.startCard {
  background-color: #D94862;
  padding: 70px;
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
    color: white;
  }
}
.gameOverCard {
  background-color: #aebf0d;
  padding: 70px;
  display: flex;
  flex-direction: column;
  position: absolute;
  h3 {
    text-align: center;
    color: #500303;
  }
}

.dom-grid {
  background-color: #172745;
}
.bloc, .dom-grid, .occupiedGridBloc,.bloc > * {
  position: absolute;
}
.scoreBloc {
  position: absolute;
  top: 40vh;
  height: 10vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  left: 13vw;
  background-color: #e9f26b;
  padding: 30px;
  justify-content: center;
}
